doctype 5
html(lang="fr")
  head
    title Ragots
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    != css('styles')
    != js('zepto.min')
    != js('application')
  body
    form#new-ragot(action="/ragots", method="POST")
      textarea(type="text", name="message", placeholder="Il parait que...", autocomplete="off", autofocus, required)
      button#submit-ragot
        = "Ragoter"
    ul#ragots
      each ragot in ragots
        li.ragot= ragot
