doctype 5
html(lang="fr")
  head
    title Ragots
  body
    form(action="/ragots", method="POST")
      input(type="text", name="message", autofocus)
      input(type="submit")
    ul#ragots
      each ragot in ragots
        li.ragot= ragot
