@import nib
reset-html5()

backgroundColor = #DFAD51
bodyBackgroundColor = white
defaultFont = 'Lato', sans-serif

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400)

html
  font-family defaultFont
  font-weight 300
  font-size 14pt
  background backgroundColor
  min-height 100%
  line-height 1.5em

body
  width 100%
  max-width 800px
  margin auto
  background bodyBackgroundColor
  min-height 100%

form#new-ragot
  clearfix()
  padding 0.7em 1.2em
  [name="message"]
    display block
    box-sizing border-box
    resize none
    width 100%
    border 0
    margin 0
    font-family inherit
    font-size 1.8em
    font-weight 300
    &:focus
      outline none
  input[type="submit"]
    -webkit-appearance none
    border-radius 0
    display block
    background backgroundColor
    border 0px
    width 100%
    color white
    padding 0.3em
    font-family inherit
    font-size 1.3em
    font-weight inherit

ul#ragots
  list-style none
  padding 0
  li
    padding 20px
    border-bottom 1px rgba(0, 0, 0, 0.05) solid
